<div class="py-1">
  <% @book_categories.each do |category| %>
    <% tmp_status_with_books = @status_with_books.where(book_category_id: category.id).where(status: status) %>
    <% unless tmp_status_with_books.empty? %>
      <div class="mt-1 mb-3 mx-3">
        <i class="fas fa-bookmark text-primary"></i>
        <%= category.name  %>
        <div class="row mt-1 px-3">
          <% tmp_status_with_books.each do |status_with_book| %>
            <div class="col-auto p-2 border rounded-lg shadow-sm">
              <%= link_to book_path(status_with_book.book), class: "text-reset", style: "text-decoration: none;" do %>
                <div class="book-card-body">
                  <div class="text-center">
                    <%= image_tag url_for(status_with_book.book.icon.variant(resize_and_pad: [92, 92, background: :transparent])), class: "border rounded" %>
                  </div>
                  <div class="mt-1 mx-auto border rounded" style="width: 92px; white-space: nowrap; overflow: auto;">
                    <small><%= status_with_book.book.name %></small>
                  </div>
                </div>
              <% end %>
              <% if request.fullpath.include?("/books") %>
                <%= link_to edit_user_status_with_book_path(@user, status_with_book), remote: true do %>
                  <div class="book-card-edit-link text-center"><i class="fas fa-pen text-primary"></i></div>
                <% end %>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>