<div class="d-flex justify-content-between">
  <div><strong>基本情報</strong></div>
  <%= link_to "編集", user_path(@user, modal_name: "basicInformationEditModal"), remote: true, class: "mr-2 text-primary" %>
</div>

<div class="mt-3 ml-2">
  <div class="d-flex mb-1">
    <div class="mr-3" style="width: 64px;">ユーザ名</div>
    <%= @user.name %>
  </div>
  <div class="d-flex mb-1">
    <div class="mr-3" style="width: 64px;">性別</div> 
    <%= @user.sex %>
  </div>
  <div class="d-flex mb-1">
    <div class="mr-3" style="width: 64px;">年齢</div> <%= @user.age %>
  </div>
  <div class="d-flex mb-1">
    <div class="mr-3" style="width: 64px;">住まい</div> <%= @user.live %>
  </div>
  <div class="d-flex mb-1">
    <div class="mr-3" style="width: 64px;">職業</div> <%= @user.job %>
  </div>
</div>    


<%= form_with model: @user, url: user_path(
                                  @user, 
                                  modal_name: "basicInformationEditModal", 
                                  area_name: "basic_information_area"), method: :patch do |f| %>
  <div class="modal fade" id="basicInformationEditModal" tabindex="-1" role="dialog" aria-labelledby="basicInformationEditModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">編集</h5>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <%= f.label :name, "ユーザー名", class: "mb-1" %>
            <div>
              <%= f.text_field :name, autocomplete: "off" %>
            </div>
          </div>
          <div class="form-group">
            <%= f.label :sex, class: "mb-1" %>
            <div>
              <%= f.select :sex, ['男', '女', 'その他'], include_blank: true %>
            </div>
          </div>
          <div class="form-group">
            <%= f.label :age, class: "mb-1" %>
            <div>
              <%= f.select :age, (1..100).to_a, include_blank: true %>
            </div>
          </div>
          <div class="form-group">
            <%= f.label :live, class: "mb-1" %>
            <div>
              <%= f.select :live, ['北海道', '青森県', '岩手県', '宮城県', '秋田県', '山形県', '福島県', '茨城県', '栃木県', '群馬県', '埼玉県', '千葉県', '東京都', '神奈川県', '新潟県', '富山県', '石川県', '福井県', '山梨県', '長野県', '岐阜県', '静岡県', '愛知県', '三重県', '滋賀県', '京都府', '大阪府', '兵庫県', '奈良県', '和歌山県', '鳥取県', '島根県', '岡山県', '広島県', '山口県', '徳島県', '香川県', '愛媛県', '高知県', '福岡県', '佐賀県', '長崎県', '熊本県', '大分県', '宮崎県', '鹿児島県', '沖縄県'], include_blank: true %>
            </div>
          </div>
          <div class="form-group">
            <%= f.label :job, class: "mb-1" %>
            <div>
              <%= f.select :job, ['中学１年生', '中学２年生', '中学３年生', '高校１年生', '高校２年生', '高校３年生', '浪人生', '大学１年生', '大学２年生', '大学３年生', '大学４年生', '大学院生', '専門学校生', '社会人'], include_blank: true %>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">閉じる</button>
          <%= f.submit :保存, class: "btn btn-primary" %>
        </div>
      </div>
    </div>
  </div>
<% end %>