<p><%= link_to (text_area_tag '', @user.introduction, readonly: true, placeholder: "自己紹介をしよう！"), 
              user_path(@user, modal_name: "introductionEditModal"), remote: true %></p>

<%= form_with model: @user, url: user_update_path(
                                  @user,
                                  modal_name: "introductionEditModal", 
                                  area_name: "introduction_area") do |f| %>
  <div class="modal fade" id="introductionEditModal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="introductionEditModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">編集</h5>
        </div>
        <div class="modal-body">
          <%= f.label :自己紹介, class: "col-form-label" %>
          <%= f.text_area :introduction, rows: "7", class: "form-control" %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">閉じる</button>
          <%= f.submit :保存, class: "btn btn-primary" %>
        </div>
      </div>
    </div>
  </div>
<% end %>