<div class="d-flex justify-content-between">
  <div><strong>自己紹介</strong></div>
  <%= link_to "編集", user_path(@user, modal_name: "introductionEditModal"), remote: true, class: "mr-2 text-primary", id: "test_id" %>
</div>

<% if @user.introduction %>
  <p class="text-justify mt-3 ml-2 mr-3">
    <%= @user.introduction %>
  </p>
<% else %>
  <p class="text-justify mt-3 ml-2 text-muted">
    自己紹介をしよう！
  </p>
<% end %>

<%= form_with model: @user, url: user_path(
                                  @user,
                                  modal_name: "introductionEditModal", 
                                  area_name: "introduction_area"), method: :patch do |f| %>
  <div class="modal fade" id="introductionEditModal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="introductionEditModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog modal-dialog-centered-scrollable" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">編集</h5>
        </div>
        <div class="modal-body">
          <%= f.label :introduction, class: "col-form-label" %>
          <div class="input-group">
            <%= f.text_area :introduction, rows: "7", class: "form-control rounded" %>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">閉じる</button>
          <%= f.submit :保存, class: "btn btn-primary" %>
        </div>
      </div>
    </div>
  </div>
<% end %>