<h1>Search#users</h1>
<p>Find me in app/views/search/users.html.erb</p>

<% if @keyword != "－おすすめユーザ－" %>
  <%= "〜#{@keyword}〜で検索" %>
<% end %>
<p>
<%= form_tag search_path, method: 'get' do %>
  <%= text_field_tag :search, nil, placeholder: "ユーザ名で検索" %>
  <%= submit_tag "検索" %>
<% end %>
</p>
<p>
<%= link_to "おすすめユーザを表示", search_path if @keyword != "－おすすめユーザ－" %>
<strong><%= @keyword if @keyword == "－おすすめユーザ－" %></strong>
</p>

<ol class="profile-cards">
  <%= render partial: 'search/profile_card' %>
</ol>