<p>
  <div><strong>総勉強時間</strong></div>
  <%= @total_study_time[0] %>時間<%= @total_study_time[1] %>分
</p>

<div class="row">
  <div class="col-2">
    <div class="list-group" id="list-tab" role="tablist">
      <a class="list-group-item list-group-item-action active" id="list-daily-list" data-toggle="list" href="#list-daily" role="tab" aria-controls="daily">日</a>
      <a class="list-group-item list-group-item-action" id="list-weekly-list" data-toggle="list" href="#list-weekly" role="tab" aria-controls="weekly">週</a>
      <a class="list-group-item list-group-item-action" id="list-monthly-list" data-toggle="list" href="#list-monthly" role="tab" aria-controls="monthly">月</a>
    </div>
  </div>
  <div class="col-8">
    <div class="tab-content" id="nav-tabContent">
      <div class="tab-pane  show active" id="list-daily" role="tabpanel" aria-labelledby="list-daily-list">
        <p>
          <div><strong>今日の勉強時間</strong></div>
          <%= @today_study_time[0] %>時間<%= @today_study_time[1] %>分
          <div><%= day_before_ratio_in_study_time %></div>
        </p>
        <strong id="aggregation_period_daily">
          <%= render 'users/my_page/aggregation_period_daily' %>
        </strong>
        <canvas id="dailyGraph" width="900" height="400"></canvas>
      </div>
      <div class="tab-pane " id="list-weekly" role="tabpanel" aria-labelledby="list-weekly-list">
        <p>
          <div><strong>今週の勉強時間</strong></div>
          <%= @this_week_study_time[0] %>時間<%= @this_week_study_time[1] %>分
          <div><%= week_before_ratio_in_study_time %></div>
        </p>
        <strong id="aggregation_period_weekly">
          <%= render 'users/my_page/aggregation_period_weekly' %>
        </strong>
        <canvas id="weeklyGraph" width="900" height="400"></canvas>
      </div>
      <div class="tab-pane " id="list-monthly" role="tabpanel" aria-labelledby="list-monthly-list">
        <p>
          <div><strong>今月の勉強時間</strong></div>
          <%= @this_month_study_time[0] %>時間<%= @this_month_study_time[1] %>分
          <div><%= month_before_ratio_in_study_time %></div>
        </p>
        <strong id="aggregation_period_monthly">
          <%= render 'users/my_page/aggregation_period_monthly' %>
        </strong>
        <canvas id="monthlyGraph" width="900" height="400"></canvas>
      </div>
    </div>
  </div>
</div>

<span id="weekTargetLabel"><strong>今週の目標</strong></span>
<button id="weekTargetNewBtn" class="btn btn-primary">作成</button>
<%= link_to "履歴", user_week_targets_path(@user) %>

<div id="selectBook"></div>
<div id="book_select_modal">
  <%= render 'users/my_page/book_select_modal' %>
</div>
<div id="weekTargetForm"></div>
<div id="weekTargetArea">
  <% if @week_targets.empty? %>
    <div id="whenWeekTargetAreaBlank">今週の目標を設定しよう！</div>
  <% end %>
  <% @week_targets.each do |week_target| %>
    <%= render 'users/my_page/week_target_card', week_target: week_target %>
  <% end %>
</div>


<%= javascript_pack_tag 'users/my_page' %>