<div id="error_messages_in_report"></div>
<div class="border-bottom py-2 text-center">
  <span><strong>総勉強時間</strong></span>
  <%= @total_study_time[0] %>時間<%= @total_study_time[1] %>分
</div>

<div class="row py-3">
  <div class="col-2">
    <div class="nav flex-column nav-pills text-center mt-5 ml-2" id="v-pills-tab" role="tablist" aria-orientation="vertical">
      <a class="nav-link active mt-5" id="v-pills-daily-tab" data-toggle="pill" href="#v-pills-daily" role="tab" aria-controls="v-pills-daily" aria-selected="true">日</a>
      <a class="nav-link" id="v-pills-weekly-tab" data-toggle="pill" href="#v-pills-weekly" role="tab" aria-controls="v-pills-weekly" aria-selected="false">週</a>
      <a class="nav-link" id="v-pills-monthly-tab" data-toggle="pill" href="#v-pills-monthly" role="tab" aria-controls="v-pills-monthly" aria-selected="false">月</a>
    </div>
  </div>

  <div class="col-10 pl-0 pr-5">
    <div class="tab-content" id="v-pills-tabContent">
      <div class="tab-pane fade show active" id="v-pills-daily" role="tabpanel" aria-labelledby="v-pills-daily-tab">
        <div class="text-center mb-3">
          <span><strong>今日の勉強時間</strong></span>
          <%= @today_study_time[0] %>時間<%= @today_study_time[1] %>分
          <div class="text-muted"><small><%= day_before_ratio_in_study_time %></small></div>
        </div>
        <div id="aggregation_period_daily" class="d-flex justify-content-around">
          <%= render 'users/my_page/aggregation_period_daily' %>
        </div>
        <div class="bar-graph-container">
          <canvas id="dailyGraph"></canvas>
        </div>
      </div>
      <div class="tab-pane fade" id="v-pills-weekly" role="tabpanel" aria-labelledby="v-pills-weekly-tab">
        <div class="text-center mb-3">
          <span><strong>今週の勉強時間</strong></span>
          <%= @this_week_study_time[0] %>時間<%= @this_week_study_time[1] %>分
          <div class="text-muted"><small><%= week_before_ratio_in_study_time %></small></div>
        </div>
        <div id="aggregation_period_weekly" class="d-flex justify-content-around">
          <%= render 'users/my_page/aggregation_period_weekly' %>
        </div>
        <div class="bar-graph-container">
          <canvas id="weeklyGraph"></canvas>
        </div>
      </div>
      <div class="tab-pane fade" id="v-pills-monthly" role="tabpanel" aria-labelledby="v-pills-monthly-tab">
        <div class="text-center mb-3">
          <span><strong>今月の勉強時間</strong></span>
          <%= @this_month_study_time[0] %>時間<%= @this_month_study_time[1] %>分
          <div class="text-muted"><small><%= month_before_ratio_in_study_time %></small></div>
        </div>
        <div id="aggregation_period_monthly" class="d-flex justify-content-around">
          <%= render 'users/my_page/aggregation_period_monthly' %>
        </div>
        <div class="bar-graph-container">
          <canvas id="monthlyGraph"></canvas>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="border-top pt-3 pb-5 mb-5">
  <div id="weekTargetHeader" class="text-center">
    <strong>今週の目標</strong>
    <%= link_to "履歴", user_week_targets_path(@user) %>
    <% if @user == current_user %>
      <button id="createBtn" class="btn btn-primary ml-2">作成</button>
    <% end %>
  </div>

  <% if @user == current_user %>
    <div id="book_select_modal">
      <%= render 'users/my_page/book_select_modal' %>
    </div>
  <% end %>

    <% if @week_targets.empty? %>
      <h5 id="whenWeekTargetAreaBlank" class="text-center mt-3 mb-5">今週の目標を設定しよう！</h5>
    <% end %>
  <div id="weekTargetArea" class="row">
    <% @week_targets.each do |week_target| %>
      <%= render 'users/my_page/week_target_card', week_target: week_target %>
    <% end %>
  </div>
</div>