<% if week_target.study_unit == "時間" %>
  <div id="weekTarget<%= week_target.id %>" class="mt-2">
    目標: 
    <h4 class="d-inline-block mb-0"><%= sprintf("%02d", week_target.content / 60) %></h4> 時間 
    <h4 class="d-inline-block mb-0"><%= sprintf("%02d", week_target.content % 60) %></h4> 分
    <span class="ml-2">
      <%= link_to edit_user_week_target_path(@user, week_target), remote: true, style: "text-decoration: none;" do %>
        <button class="bg-white border-0 pr-0"><i class="fas fa-pen text-primary"></i></button>
      <% end %>
      <%= link_to user_week_target_path(@user, week_target), method: :delete, remote: true, style: "text-decoration: none;" do %>
        <button class="bg-white border-0"><i class="fas fa-trash-alt text-primary"></i></button>
      <% end %>
    </span>
  </div>
<% else %>
  <div id="weekTarget<%= week_target.id %>">
    目標: 
    <h4 class="d-inline-block mb-0"><%= sprintf("%04d", week_target.content) %></h4> <%= week_target.study_unit %>
    <span class="ml-2">
      <%= link_to edit_user_week_target_path(@user, week_target), remote: true, style: "text-decoration: none;" do %>
        <button class="bg-white border-0 pr-0"><i class="fas fa-pen text-primary"></i></button>
      <% end %>
      <%= link_to user_week_target_path(@user, week_target), method: :delete, remote: true, style: "text-decoration: none;" do %>
        <button class="bg-white border-0"><i class="fas fa-trash-alt text-primary"></i></button>
      <% end %>
    </span>
  </div>
<% end %>
