<div id="weekTargetCard<%= week_target.id %>" class="col-xl-6 mt-2 mb-3">
  <% result = @microposts.weekly_study_amount(week_target.book.id, week_target.study_unit, week_target.created_at) %>
  
  <div class="mx-auto" style="width: 250px;">
    <div class="overflow-hidden" style="text-overflow: ellipsis; white-space: nowrap;">
      <i class="fas fa-book-open"></i> 
      <strong><%= week_target.book.name %></strong>
    </div>
    <% if week_target.study_unit == "時間" %>
      <div class="mt-1 ml-2">
        <div id="weekTarget<%= week_target.id %>">
          目標: 
          <h4 class="d-inline-block mb-0"><%= sprintf("%02d", week_target.content / 60) %></h4> 時間 
          <h4 class="d-inline-block mb-0"><%= sprintf("%02d", week_target.content % 60) %></h4> 分
          <% if @user = current_user %>
            <span class="ml-2">
              <%= link_to edit_user_week_target_path(@user, week_target), remote: true, style: "text-decoration: none;" do %>
                <button class="bg-white border-0 pr-0"><i class="fas fa-pen text-primary"></i></button>
              <% end %>
              <%= link_to user_week_target_path(@user, week_target), method: :delete, remote: true, style: "text-decoration: none;" do %>
                <button class="bg-white border-0"><i class="fas fa-trash-alt text-primary"></i></button>
              <% end %>
            </span>
          <% end %>
        </div>
        <div>
          現在:
          <% if result >= week_target.content %>
            <h4 class="d-inline-block text-primary"><%= sprintf("%02d", result / 60) %></h4> 時間 
            <h4 class="d-inline-block text-primary"><%= sprintf("%02d", result % 60) %></h4> 分
          <% else %>
            <h4 class="d-inline-block" style="color: rgb(99, 99, 99);"><%= sprintf("%02d", result / 60) %></h4> 時間 
            <h4 class="d-inline-block" style="color: rgb(99, 99, 99);"><%= sprintf("%02d", result % 60) %></h4> 分
          <% end %>
        </div>
      </div>
    <% else %>
      <div class="mt-1 ml-2">
        <div id="weekTarget<%= week_target.id %>">
          目標: 
          <h4 class="d-inline-block mb-0"><%= sprintf("%04d", week_target.content) %></h4> <%= week_target.study_unit %>
          <% if @user = current_user %>
            <span class="ml-2">
              <%= link_to edit_user_week_target_path(@user, week_target), remote: true, style: "text-decoration: none;" do %>
                <button class="bg-white border-0 pr-0"><i class="fas fa-pen text-primary"></i></button>
              <% end %>
              <%= link_to user_week_target_path(@user, week_target), method: :delete, remote: true, style: "text-decoration: none;" do %>
                <button class="bg-white border-0"><i class="fas fa-trash-alt text-primary"></i></button>
              <% end %>
            </span>
          <% end %>
        </div>
        <div>
          現在: 
          <% if result >= week_target.content %>
            <h4 class="d-inline-block text-primary"><%= sprintf("%04d", result) %></h4> <%= week_target.study_unit %>
          <% else %>
            <h4 class="d-inline-block" style="color: rgb(99, 99, 99);"><%= sprintf("%04d", result) %></h4> <%= week_target.study_unit %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>

  <div class="mx-auto" style="width: 250px;">
    <canvas id="studyAmountGraph<%= week_target.id %>" width='250' height='200'></canvas>
  </div>
</div>