<% visitor = notification.visitor %>
<% visited = notification.visited %>
<div class="col-md-6.mx-auto">
  <div class="form-inline">
    <span>
      <%= link_to my_page_path(visitor) do %>
        <%= image_tag url_for(visitor.avatar.variant(resize: "20x20>")), class: "icon_mini" %>
        <strong><%= visitor.name %></strong>
      <% end %>さんが

      <% case  notification.action %>
      <% when 'follow' then %>
        あなたをフォローしました
      <% when 'like' then %>
        <%= link_to 'あなたの投稿', micropost_path(notification.micropost), style: "font-weight: bold;" %>
        にいいねしました
      <% when 'comment' then %>
        <% if notification.micropost.user_id == visited.id %>
          <%= link_to 'あなたの投稿', micropost_path(notification.micropost), style: "font-weight: bold;" %>
        <% else %>
          <span>
            <%= link_to micropost_path(notification.micropost) do %>
              <%= image_tag url_for(notification.micropost.user.avatar.variant(resize: "20x20>")), class: "icon_mini" %>
              <strong><%= notification.micropost.user.name %></strong>さんの投稿
            <% end %>
          </span>
        <% end %>
        コメントしました。
      <% end %>
        <p class="text-muted.mb-0"><%= Comment.find_by(id: notification.comment_id)&.content %></p>
    </span>
  </div>
  <div class="small.text-muted.text-right">
    <%= time_ago_in_words(notification.created_at).upcase %>
  </div>
</div>
    