<% visitor = notification.visitor %>
<% visited = notification.visited %>

<div class="row">
  <div class="col-auto my-auto mx-auto text-primary">
    <% case  notification.action %>
      <% when 'follow' then %>
        <i class="fas fa-heart"></i>
      <% when 'like' then %>
        <i class="far fa-thumbs-up"></i>
      <% when 'comment' then %>
        <i class="far fa-comment"></i>
    <% end %>
  </div>
  <div class="col-10 col-md-11 px-0">
    <div class="">
      <span>
        <%= link_to my_page_path(visitor) do %>
          <strong><%= visitor.name %></strong>
        <% end %>さんが
        <% case  notification.action %>
          <% when 'follow' then %>
            あなたをフォローしました
          <% when 'like' then %>
            <%= link_to 'あなたの投稿', micropost_path(notification.micropost), style: "font-weight: bold;" %>
            にいいねしました
          <% when 'comment' then %>
            <% if notification.micropost.user_id == visited.id %>
              <%= link_to 'あなたの投稿', micropost_path(notification.micropost), style: "font-weight: bold;" %>
            <% else %>
              <span>
                <%= link_to micropost_path(notification.micropost) do %>
                  <%= image_tag url_for(notification.micropost.user.avatar.variant(resize: "20x20>")), class: "icon_mini" %>
                  <strong><%= notification.micropost.user.name %></strong>さんの投稿
                <% end %>
              </span>
          <% end %>
          コメントしました。
        <% end %>
      </span>
    </div>
    <div class="text-muted">
      <i class="far fa-clock"></i>
      <%= notification.created_at.to_s(:datetime) %>
    </div>
  </div>
</div>

<hr class="my-1">
