<%= form_with model: @book do |f| %>
  <div class="modal" id="editBookModal" tabindex="-1" role="dialog" aria-labelledby="editBookModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">教材編集</h5>
        </div>
        <div class="modal-body">
          <%= f.file_field :icon, class: "form-control-file" %>
          <%= f.text_field :name, class: "form-control", placeholder: "教材名を入力" %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">閉じる</button>
          <%= link_to "削除", "/books/#{@book.id}", class: "btn btn-secondary", method: :delete if @book.microposts.empty? %>
          <%= f.submit :保存, class: "btn btn-primary", id: "edit_book_btn" %>
        </div>
      </div>
    </div>
  </div>
<% end %>
