<%= form_with model: @book = @user.books.build do |f| %>
  <div class="modal fade" id="newBookModal" tabindex="-1" role="dialog" aria-labelledby="newBookModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">教材登録</h5>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <%= f.label :icon %>
            <%= f.file_field :icon, class: "form-control-file" %>
          </div>
          <div class="form-group">
            <%= f.label :name %>
            <%= f.text_field :name, placeholder: "教材名を入力" %>
          </div>
          <div class="form-group">
            <%= f.label :status %>
            <%= f.select :status, ['勉強中', '勉強予定', '勉強済み'], include_blank: false %>
          </div>
          <div class="form-group">
            <%= f.label :study_unit %>
            <%= f.select :study_unit, ['時間', 'ページ', '単語', '問'], include_blank: false %>
          </div>
          <div class="form-group">
            <%= label_tag "book[book_category_id]" ,"カテゴリー" %>
            <%= link_to "新規作成", new_user_book_category_path(@user), remote: true %>
            <%= f.collection_select :book_category_id, @book_categories, :id, :name, selected: 1 %>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">閉じる</button>
          <%= f.submit :登録, class: "btn btn-primary", id: "book_register_btn" %>
        </div>
      </div>
    </div>
  </div>
<% end %>
