<% @followers.each do |user| %>
  <li id="profile-card-<%= user.id %>">
    <%= link_to my_page_path(user) do %>
      <%= image_tag url_for(user.avatar.variant(resize: "50x50>")) %>
      <%= user.name %>
      <%= user.job %>
      <%= user.live %>
      <%= user.target_comment %>
      <%= user.target %>
      <%= user.my_choice_university %>
      <%# user.study_time %>
    <% end %>
    <% if current_user.following?(user) %>
      <%= render 'users/unfollow_form' %>
    <% else %>
      <%= render 'users/follow_form' %>
    <% end %>
  </li>
<% end %>
