<h1>Users#edit</h1>
<p>Find me in app/views/users/edit.html.erb</p>

<p>プロフィール</p>
<p>
<%= link_to (image_tag url_for(current_user.avatar.variant(resize: "100x100>"))), "#", data: {toggle: "modal", target: "#userAvatarModal"} %>
<%= render partial: 'users/modal_form/avatar' %>
</p>
<p><%= current_user.name %></p>

<p>
<%= link_to (text_area_tag '', current_user.target_comment, readonly: true, placeholder: "具体的な目標を記入しよう！"), "#", data: {toggle: "modal", target: "#userTargetCommentModal"} %>
<%= render partial: 'users/modal_form/target_comment' %>
</p>

<%# add following link %>
<%# add follower link %>
<%# add book link %>

<p>自己紹介 <%= link_to "編集", "#", data: {toggle: "modal", target: "#userIntroductionModal"}%></p>
<%= render partial: 'users/modal_form/introduction' %>
<p><%= current_user.introduction %></p>


<p>達成目標 <%= link_to "編集", "#", data: {toggle: "modal", target: "#userTargetModal"}%></p>
<%= render partial: 'users/modal_form/target' %>
<p><%= current_user.target %></p>