<%= content_for :title, "#{@user.name}さんのマイページ" %>

<div class="fixed-top offset-lg-4 offset-md-3 col-lg-5 col-md-7 nav nav-pills nav-fill border-bottom border-left bg-white" id="v-pills-tab" role="tablist" aria-orientation="vertical" style="margin-top: 44px;">
  <a class="nav-item nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false"><i class="fas fa-user"></i></a>
  <a class="nav-item nav-link" id="v-pills-book-tab" data-toggle="pill" href="#v-pills-book" role="tab" aria-controls="v-pills-book" aria-selected="false"><i class="fas fa-book"></i></a>
  <a class="nav-item nav-link" id="v-pills-timeline-tab" data-toggle="pill" href="#v-pills-timeline" role="tab" aria-controls="v-pills-timeline" aria-selected="false"><i class="fas fa-home"></i></a>
  <a class="nav-item nav-link active" id="v-pills-report-tab" data-toggle="pill" href="#v-pills-report" role="tab" aria-controls="v-pills-report" aria-selected="true"><i class="far fa-chart-bar"></i></a>
</div>

<div class="tab-content mt-4 pt-3" id="v-pills-tabContent">
  <div class="tab-pane fade mb-5" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
    <%= render 'users/my_page/profile_tab' %>
  </div>
  <div class="tab-pane fade mb-5" id="v-pills-book" role="tabpanel" aria-labelledby="v-pills-book-tab">
    <h5><div class="badge badge-pill badge-secondary mt-3 ml-2">
      <%= @user.name %>さんの本棚
    </div></h5>
    <%= render 'books/index/book_shelf' %>
  </div>
  <div class="tab-pane fade" id="v-pills-timeline" role="tabpanel" aria-labelledby="v-pills-timeline-tab">
    <h5><div class="badge badge-pill badge-secondary mt-2 mb-1 ml-2">
      <%= @user.name %>さんの投稿
    </div></h5>
    <%= render 'shared/timeline' %>
  </div>
  <div class="tab-pane fade show active" id="v-pills-report" role="tabpanel" aria-labelledby="v-pills-report-tab">
    <%= render 'users/my_page/report' %>
  </div>
</div>

<%= javascript_packs_with_chunks_tag 'users/my_page' %>