<h1>Users#show</h1>
<p>Find me in app/views/users/show.html.erb</p>

<p>プロフィール</p>

<div id="avatar_area">
  <%= render 'users/show/avatar_area' %>
</div>

<p id="userName"><%= @user.name %></p>

<div id="target_comment_area">
  <%= render "users/show/target_comment_area" %>
</div>

<p><%= link_to "フォロワー（#{@user.followers.count}）フォロー（#{@user.following.count}）", follow_user_path(@user) %></p>

<p><%= link_to "本棚（#{@user.books.count}）", user_books_path(@user) %></p>

<div id="introduction_area">
  <%= render 'users/show/introduction_area' %>
</div>

<div id="target_area">
  <%= render 'users/show/target_area' %>
</div>

<div id="basic_information_area">
  <%= render 'users/show/basic_information_area' %>
</div>

<%= javascript_pack_tag 'users/show' %>