<li id="profile-card-<%= user.id %>">
  <%= link_to my_page_path(user) do %>
    <%= image_tag url_for(user.avatar.variant(resize: "50x50>")) %>
    <%= user.name %>
    <%= user.job %>
    <%= user.live %>
    <%= user.target_comment %>
    <%= user.target %>
    <%= user.my_choice_university %>
    <%= user.a_week_study_times %>
  <% end %>
</li>