<%= form_with model: @micropost = @user.microposts.build do |f| %>
  <div class="modal fade" id="newMicropostModal" tabindex="-1" role="dialog" aria-labelledby="newMicropostModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">投稿</h5>
        </div>
        <div class="modal-body">
          <div>
            <div><%= f.label :book_id, "教材名", class: "mb-1" %></div>
            <%= select_tag "micropost[book_id]", options_from_collection_for_select(@books_in_progress, "id", "name"), class: "w-75",include_blank: true %>
          </div>
          <div class="mt-3">
            <%= f.label :studied_at, "勉強日時", class: "mb-1" %>
            <div class="input-group date" id="datetimepicker1">
              <%= f.text_field :studied_at, type: "text", value: Date.today %>
              <span class="input-group-append">
                <span class="input-group-text"><i class="far fa-calendar-alt"></i></span>
              </span>
            </div>
            <div class="mt-1">
              <%= time_select "micropost", "studied_at" %>
            </div>
          </div>
          <div class="mt-3">
            <%= f.label :study_hours, "勉強時間", class: "mb-1" %>
            <div>
              <%= f.select :study_hours, (0..23).to_a, class: "" %>
              <%= f.label :study_hours, "時間" %>
              <%= f.select :study_minutes, (0..59).to_a, class: "" %>
              <%= f.label :study_minutes, "分" %>
              <%= f.hidden_field :study_time, class: "" %>
            </div>
          </div>
          <div id="studyAmount" class="mt-3"></div>
          <div class="mt-3">
            <%= f.label :content, "一言コメント", class: "mb-1" %>
            <%= f.text_area :content, class: " w-100 p-3", rows: "3" %>
          </div>
          <div class="mt-3">
            <%= f.label :picture, "写真" %>
            <%= f.file_field :picture, class: "form-control-file" %>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">閉じる</button>
          <%= f.hidden_field :study_unit %>
          <%= f.submit :記録する, id: "btnPrimary", class: "btn btn-primary" %>
        </div>
      </div>
    </div>
  </div>
<% end %>