<%= form_with model: @micropost = @user.microposts.build do |f| %>
  <div class="modal fade" id="newMicropostModal" tabindex="-1" role="dialog" aria-labelledby="newMicropostModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">投稿</h5>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <%= label_tag 'micropost[book_id]', "教材名" %>
            <%= f.collection_select :book_id, @books_in_progress, :id, :name, class: "form-control", include_blank: true %>
          </div>
          <div class="form-group">
            <%= f.label :studied_at, "勉強日時" %>
            <%= f.datetime_select :studied_at, class: "form-control", end_year: Time.now.year  %>
          </div>
          <div class="form-group">
            <%= f.label :how_many_studied_hours, "勉強時間" %>
            <%= f.select :how_many_studied_hours, (0..23).to_a, class: "form-control" %>
            <%= f.label :how_many_studied_hours, "時間" %>
            <%= f.select :how_many_studied_minutes, (0..59).to_a, class: "form-control" %>
            <%= f.label :how_many_studied_minutes, "分" %>
            <%= f.hidden_field :studied_time_in_minutes, class: "form-control" %>
          </div>
          <div id="studyAmount" class="form-group">
          
          </div>
          <div class="form-group">
            <%= f.label :content, "一言コメント" %>
            <%= f.text_area :content, class: "form-control w-50 p-3", rows: "4" %>
          </div>
          <div class="form-group">
            <%= f.label :picture, "写真" %>
            <%= f.file_field :picture, class: "form-control-file" %>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">閉じる</button>
          <%= f.hidden_field :status_with_book_id %>
          <%= f.submit :記録する, id: "btnPrimary", class: "btn btn-primary" %>
        </div>
      </div>
    </div>
  </div>
<% end %>