<div class="col-12 py-3 pl-2 pr-3 border rounded-lg" id="post_card_micropost<%= micropost.id %>">
  <div class="row">
    <div class="col-2 text-center">
      <%= link_to (image_tag url_for(micropost.user.avatar.variant(gravity: :center, resize:"55x55^", crop:"55x55+0+0")), class: "avatar rounded-circle"), my_page_path(micropost.user) %>
    </div>
    <div class="col-10 pl-sm-0 post-card-body">
      <%= link_to micropost_path(micropost), class: "text-reset", style: "text-decoration: none;" do %>
        <div style="height: 55px;">
            <%= micropost.user.name %>
          <div class="text-muted text-right mt-2 mr-2">
            <%= micropost.studied_at %>
          </div>
        </div>
        <% if micropost.content.present? %>
          <div class="mt-1 mt-2 mb-3">
            <%= micropost.content %>
          </div>
        <% end %>
        <div class="mt-1">
          <%= image_tag url_for(micropost.picture.variant(resize: "350x180>")), class: "rounded" if micropost.picture.attached? %>
        </div>
        <% if micropost.book %>
          <div class="d-flex align-items-center border rounded shadow-sm p-2">
            <div class="col-auto ml-1 px-0">
              <%= image_tag url_for(micropost.book.icon.variant(resize_and_pad: [72, 72, background: :transparent])), class: "border rounded" if micropost.book %>
            </div>
            <div class="col-9 ml-2 pl-0" style="height: 74px;">
              <div class="overflow-hidden" style="text-overflow: ellipsis; white-space: nowrap;">
                <%= micropost.book.name if micropost.book %>
              </div>
              <div>
                <i class="far fa-clock"></i>
                <% if micropost.study_hours != 0 %>
                  <span class="text-primary"><%= micropost.study_hours %></span>時間
                <% end %>
                <% if micropost.study_minutes != 0 %>
                  <span class="text-primary"><%= micropost.study_minutes %></span>分
                <% end %>
              </div>
              <div>
                <% if micropost.study_amount  %>
                  <i class="fas fa-pen"></i>
                  <span class="text-primary"><%= micropost.study_amount %></span><%= micropost.study_unit %>
                <% end %>
              </div>        
            </div>
          </div>
        <% else %>
          <div class="border rounded shadow-sm mt-1 p-2">
            <i class="far fa-clock"></i>
            <% if micropost.study_hours != 0 %>
              <span class="text-primary"><%= micropost.study_hours %></span>時間
            <% end %>
            <% if micropost.study_minutes != 0 %>
              <span class="text-primary"><%= micropost.study_minutes %></span>分
            <% end %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="offset-2 col-10 d-flex mt-3 pl-sm-0">
    <div class="post-card-comment col-7 pl-0">
      <%= link_to micropost_path(micropost), class: "text-reset", style: "text-decoration: none;" do %>
        <i class="far fa-comment mr-2"></i>コメントする
      <% end %>
    </div>
    <div class="col-5 pl-0" id="like_btn<%= micropost.id %>">
      <%= render 'likes/like_btn', micropost: micropost %>
    </div>
  </div>
</div>