$(function() {
  <% if @selected_book %>  
    $("#micropost_study_unit").prop("value", "<%= @selected_book.study_unit %>")
    
    <% case @selected_book.study_unit %>
      <% when "ページ" %>
        $("#studyAmount").html("<%= escape_javascript(render 'microposts/study_amount_input_area') %>");

        $("#studyAmount>label").after("<div class='mb-1'><input id='totalBtn' name='studyAmount' type='radio' checked='checked'>合計</input><input id='rangeBtn' name='studyAmount' type='radio'>範囲</input></div>");

        $("#rangeBtn").on("change", function() {
          $("<%= escape_javascript(render 'microposts/study_amount_range_input') %>").replaceAll("#micropost_study_amount");
          $("#studyUnit").html("");
        });

          $('#totalBtn').on("change", function() {
            $("<%= escape_javascript(number_field :micropost, :study_amount, min: 1, max: 9999) %>").replaceAll("#studyAmountRangeInput");
            $("#studyUnit").html("<%= @selected_book.study_unit %>");
          });

      <% when "問", "単語" %>
        $("#studyAmount").html("<%= escape_javascript(render 'microposts/study_amount_input_area') %>");

      <% when "時間", "" %>
        $("#studyAmount").html("");
        
    <% end %>
    
  <% else %>
    $("#studyAmount").html("");

  <% end %>
})