<% if user_signed_in? %>
  <div id="error_messages">
    <%= render 'shared/error_messages', object: @micropost %>
  </div>
<% end %>

<h1>ようこそ</h1>
<p>トップページです。</p>

<% if user_signed_in? %>
  <p><%= link_to "投稿する", root_path(modal: "open"), remote: true %></p>
  <div id="new_micropost_modal">
    <%= render 'home/new_micropost_modal' %>
  </div>
  <div id="timeline">
    <%= render 'shared/timeline' %>
  </div>
<% else %>
  <%= render 'not_login_top' %>
<% end %>