<div id="error_messages"></div>

<div id="headWord">
  <h1>ようこそ</h1>
  <p>トップページです。</p>
</div>

<% unless @user.target %>
  <%= render 'home/target_register' %>

<% else %>
  <p><%= link_to "投稿する", root_path(modal: "new"), remote: true %></p>
  <div id="micropostModal">
    <%= render 'home/new_micropost_modal' %>
  </div>

  <nav>
    <div class="nav nav-tabs justify-content-center" id="nav-tab" role="tablist">
      <a class="nav-item nav-link active" id="nav-follow-tab" data-toggle="tab" href="#nav-follow" role="tab" aria-controls="nav-follow" aria-selected="true">フォロー</a>
      <a class="nav-item nav-link" id="nav-target-genre-tab" data-toggle="tab" href="#nav-target-genre" role="tab" aria-controls="nav-target-genre" aria-selected="false">目標ジャンル</a>
    </div>
  </nav>

  <div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active" id="nav-follow" role="tabpanel" aria-labelledby="nav-follow-tab">
      <div id="timeline">
        <% @follower_microposts.each do |micropost| %>
          <%= render 'home/post_card', micropost: micropost %>
        <% end %>
      </div>
      <%= paginate @follower_microposts %>
    </div>
    <div class="tab-pane fade" id="nav-target-genre" role="tabpanel" aria-labelledby="nav-target-genre-tab">
      <p><%= @user.target %></p>
      <% @target_genre_microposts.each do |micropost| %>
        <%= render 'home/post_card', micropost: micropost %>
      <% end %>
      <%= paginate @target_genre_microposts %>
    </div>
  </div>

<% end %>

<%= javascript_pack_tag 'home/top' %>