<%= form_with model: @book, local: true do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
<% end %>

<h1>Books#index</h1>
<p>Find me in app/views/books/index.html.erb</p>


<%= "〜#{@keyword}〜で検索" if @keyword %>
<p>
  <%= form_tag books_path, method: 'get' do %>
    <%= text_field_tag :search, nil, placeholder: "教材名で検索" %>
    <%= submit_tag "検索" %>
  <% end %>
</p>

<p>
  <%= link_to "登録した教材", books_path if @keyword %>
</p>

<%= link_to "教材登録", "#", data: {toggle: "modal", target: "#BooksNewModal"} %>
<%= render partial: 'books/new_modal' %>

<% @books.each do |book| %>
  <%= link_to book_path(book) do %>
    <%= image_tag url_for(book.icon.variant(resize: "100x100>")) %>
    <%= book.name %>
  <% end %>
<% end %>