<div id="error_messages">
  <%= render 'shared/error_messages', object: @book %>
</div>

<h1>Books#index</h1>
<p>Find me in app/views/books/index.html.erb</p>

<p id="search_field">
  <%= render 'books/search_field' %>
</p>


<div id="new_book_link">
  <%= link_to "教材登録", "#", data: {toggle: "modal", target: "#newBookModal"} %>
</div>

<div id="new_book_modal">
  <%= render 'books/modal/new_book' %>
</div>

<div id="book_category_modal">
  <%= render 'books/modal/book_category' %>
</div>

<div id="book_field">
  <%= render 'books/book_field' %>
</div>