<div id="error_messages">
  <%= render 'shared/error_messages', object: @book %>
</div>

<h1>Books#index</h1>
<p>Find me in app/views/books/index.html.erb</p>

<p id="search_field">
  <%= render 'books/search_field' %>
</p>

<p>
  <%= link_to "登録した教材", books_path if @keyword %>
</p>

<%= link_to "教材登録", "#", remote: true %>
<%= render 'books/new_modal' %>

<div id="study_books">
  <%= render 'books/study_books' %>
</div>