<div id="error_messages">
  <%= render 'shared/error_messages', object: @book %>
</div>

<h1>Books#index</h1>
<p>Find me in app/views/books/index.html.erb</p>

<p id="search_field">
  <%= render 'books/search_field' %>
</p>


<div id="book_new_link">
  <%= link_to "教材登録", "#", data: {toggle: "modal", target: "#BooksNewModal"} %>
</div>

<div id="book_new_modal">
  <%= render 'books/new_modal' %>
</div>

<div id="book_field">
  <%= render 'books/book_field' %>
</div>