<% content_for :title, "教材全般" %>
<%= render "shared/notifications" %>

<div class="mt-2 px-2">
  <div class="p-3">
    <%= render 'books/index/search_form' %>
  </div>
  <div id="bookModalLinkWrapper" class="mb-1 mr-3 text-right text-primary">
    <%= link_to new_book_path(), remote: true do %>
      <i class="fas fa-book"></i>
      教材登録
    <% end %>
  </div>
</div>

<hr class="my-0">

<div class="mt-2 mb-5">
  <div class="d-flex mt-1 px-2 align-items-center">
    <%= link_to user_books_path(@user), remote: true, method: :get do %>
      <h5><div class="badge badge-pill badge-primary">
        <%= @user.name %>さんの本棚
      </div></h5>
    <% end %>
    <h5><div id="search_word" class='badge badge-pill badge-secondary ml-1'></div></h5>
  </div>

  <div id="bookField" class="mt-1">
    <%= render 'books/index/book_shelf' %>
  </div>
</div>

<div id="bookModalWrapper">
  <%= render 'books/index/book_new_modal' %>
</div>

<div id="bookCategoryModalWrapper">
  <%= render 'books/book_category_modal' %>
</div>

<div id="book_status_edit_modal"></div>

<%= javascript_pack_tag 'books/index' %>