<%= render "shared/notifications" %>

<p id="search_field">
  <%= render 'books/index/search_field' %>
</p>

<div id="bookModalBtnWrapper">
  <%= link_to "教材登録", new_book_path(), remote: true %>
</div>

<div id="bookModalWrapper">
  <%= render 'books/index/book_new_modal' %>
</div>

<div id="bookCategoryModalWrapper">
  <%= render 'books/book_category_modal' %>
</div>

<p><%= link_to "#{@user.name}さんの本棚", user_books_path(@user), method: :get, remote: true %></p>

<div id="book_field">
  <%= render 'books/index/book_field' %>
</div>

<div id="book_status_edit_modal"></div>

<%= javascript_pack_tag 'books/index' %>