<h1>Books#show</h1>
<p>Find me in app/views/books/show.html.erb</p>

<p id="registered_user_count">勉強中：<%= @book.users.count %></p>

<div id="book_info">
  <%= render 'books/show/book_info' %>
</div>

<div id="editBtnWrapper">
  <% if @user.register?(@book) %>
    <div id="editBtn" class="btn btn-primary">編集</div>
  <% end %>
</div>
<%= render 'books/show/book_edit_modal' %>

<div id="bookCategoryModalWrapper">
  <%= render 'books/book_category_modal' %>
</div>

<span id="registerBtnWrapper">
  <%= render 'books/show/register_btn' %>
</span>

<strong><p>タイムライン</p></strong>
<p><%= render 'shared/timeline' %></p>

<%= javascript_pack_tag 'books/show' %>