<% content_for :title, @book.name %>

<div class="p-2 mb-2">
  <div id="book_info" class="mb-2">
    <%= render 'books/show/book_info' %>
  </div>

  <div class="row mx-2 align-items-center">
    <div id="bookEditBtnWrapper" class="col-6 px-1">
      <% if @user.register?(@book) %>
        <%= link_to  "編集", edit_book_path(@book), id: "bookEditBtn", class: "col-12 btn btn-primary", remote: true %>
      <% end %>
    </div>
    <div id="bookRegisterBtnWrapper" class="col-6 px-1">
      <%= render 'books/show/book_register_btn' %>
    </div>
  </div>
</div>

<div>
  <%= render 'books/show/book_register_modal' %>
  <%= render 'books/show/book_edit_modal' %>
</div>

<div id="bookCategoryModalWrapper">
  <%= render 'books/book_category_modal' %>
</div>

<hr class="mb-2">

<h5><div class="badge badge-pill badge-secondary ml-2 mb-2">タイムライン</div></h5>

<div id="v-pills-timeline">
  <%= render 'shared/timeline' %>
</div>

<%= javascript_packs_with_chunks_tag 'books/show' %>