<div id="error_messages">
  <%= render 'shared/error_messages', object: @book %>
</div>

<h1>Books#show</h1>
<p>Find me in app/views/books/show.html.erb</p>


<div id="book_info">
  <%= render 'books/book_info' %>
</div>

<div id="edit_book_link">
  <%= render 'books/edit_link' %>
</div>
<%= render 'books/modal/edit_book' %>


<li id="register_btn"><%= render 'books/register_btn' %></li>

<strong><p>タイムライン</p></strong>
<p><%= render 'shared/timeline' %></p>

