<% content_for :title, "今週の目標 -履歴-"  %>

<% if @week_targets.present? %>
  <% 0.upto(@number_of_weeks_passed) do |n| %>
    <% past_week_targets = @week_targets.past_records(n) %>
    <% if past_week_targets.present? %>
      <% week_target_created_at = past_week_targets.take.created_at %>
      <% from = week_target_created_at.at_beginning_of_week %>
      <% to = week_target_created_at.at_end_of_week %>

      <h4 class="my-3"><%= "#{from.to_s(:month)} - #{to.to_s(:month)}" %></h4>
      <div class="row mt-2">
        <% past_week_targets.each do |week_target| %>
          <% achievement = @microposts.weekly_study_amount(week_target.book.id, week_target.study_unit, week_target.created_at) %>
          
          <div class="col-lg-6">
            <div class="col mt-2 mx-auto">
              <div style="width: 350px;">
                <i class="fas fa-book-open"></i>
                <strong><%= week_target.book.name %></strong>
              </div>
              <% if week_target.study_unit == "時間" %>
                <div class="mt-2">
                  目標: 
                  <h4 class="d-inline-block mb-0"><%= sprintf("%02d", week_target.content / 60) %></h4> 時間 
                  <h4 class="d-inline-block mb-0"><%= sprintf("%02d", week_target.content % 60) %></h4> 分
                </div>
                <div>
                  実績:
                  <% if achievement >= week_target.content %>
                    <h4 class="d-inline-block" style="color: rgb(54, 162, 235);"><%= sprintf("%02d", achievement / 60) %></h4> 時間 
                    <h4 class="d-inline-block" style="color: rgb(54, 162, 235);"><%= sprintf("%02d", achievement % 60) %></h4> 分
                  <% else %>
                    <h4 class="d-inline-block" style="color: rgb(99, 99, 99);"><%= sprintf("%02d", achievement / 60) %></h4> 時間 
                    <h4 class="d-inline-block" style="color: rgb(99, 99, 99);"><%= sprintf("%02d", achievement % 60) %></h4> 分
                  <% end %>
                </div>
              <% else %>
                <div class="mt-2">
                  目標: 
                  <h4 class="d-inline-block mb-0"><%= sprintf("%04d", week_target.content) %></h4> <%= week_target.study_unit %>
                </div>
                <div>
                  実績: 
                  <% if achievement >= week_target.content %>
                    <h4 class="d-inline-block" style="color: rgb(54, 162, 235)";><%= sprintf("%04d", achievement) %></h4> <%= week_target.study_unit %>
                  <% else %>
                    <h4 class="d-inline-block" style="color: rgb(99, 99, 99);"><%= sprintf("%04d", achievement) %></h4> <%= week_target.study_unit %>
                  <% end %>
                </div>
              <% end %>
            </div>

            <div class="col position-relative my-2 mx-auto" style="left: 50px;">
              <canvas id='studyAmountGraph<%= week_target.id %>' width='250' height='200'></canvas>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  <% end %>

  <%= javascript_pack_tag 'week_targets/index' %>
<% end %>