<p>コメント（<%= @comments.count %>件）</p>

<% @comments.each do |comment| %>
  <ul id="comment_card_<%= comment.id %>">
    <li><%= image_tag url_for(comment.user.avatar.variant(resize: "30x30>")) %></li>
    <li><%= comment.user.name %></li>
    <li><%= comment.created_at %></li>
    <li><%= comment.content %></li>
    <% if current_user == comment.user %>
      <li>
        <%= form_with model: @micropost, method: :get do |f| %>
          <%= f.hidden_field :id %>
          <%= hidden_field_tag 'comment[id]', comment.id %>
          <%= f.submit "×" %> 
        <% end %>
      </li>
    <% end %>
  </ul>
<% end %>

<%= render 'microposts/comment_delete_modal' %>