<%= form_with model: @micropost do |f| %>
  <div class="modal fade" id="micropostEditModal" tabindex="-1" role="dialog" aria-labelledby="micropostEditModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">編集</h5>
        </div>
        <div class="modal-body">
          <% if @micropost.book %>
            <div>
              <div>教材名</div>
              <div>
                <%= @micropost.book.name if @micropost.book %>
              </div>
            </div>
          <% end %>
          <div class="mt-3">
            <div>
              <%= f.label :studied_at, "勉強日時", class: "mb-1" %>
            </div>
            <div class="input-group date" id="datetimepicker1">
              <%= f.text_field :studied_at, type: "text", value: @micropost.studied_at.to_s(:year) %>
              <span class="input-group-append">
                <span class="input-group-text"><i class="far fa-calendar-alt"></i></span>
              </span>
            </div>
            <div class="mt-1">
              <%= time_select "micropost", "studied_at" %>
            </div>
          </div>
          <div class="mt-3">
            <div>
              <%= f.label :study_hours, "勉強時間", class: "mb-1" %>
            </div>
            <div>
              <%= f.select :study_hours, (0..23).to_a %>
              <%= f.label :study_hours, "時間" %>
              <%= f.select :study_minutes, (0..59).to_a %>
              <%= f.label :study_minutes, "分" %>
              <%= f.hidden_field :study_time %>
            </div>
          </div>
          <div id="studyAmount" class="mt-3"></div>
          <div class="mt-3">
            <div>
              <%= f.label :content, "一言コメント", class: "mb-1" %>
            </div>
            <div>
              <%= f.text_area :content, class: " w-50 p-3", rows: "4" %>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">閉じる</button>
          <%= f.submit :保存する, id: "btnPrimary",class: "btn btn-primary" %>
        </div>
      </div>
    </div>
  </div>
<% end %>