<% if current_user.like?(@micropost) %>
  <%= form_with model: @like = current_user.likes.find_by(micropost_id: @micropost), url: micropost_like_path(@micropost, @like), method: :delete,  local: true do |f| %>
    <%= f.submit "いいね！（#{@micropost.likes.count}）", class: "btn btn-primary" %>
  <% end %>
<% else %>
  <%= form_with  url: micropost_likes_path(@micropost), local: true do |like| %>
    <%= like.submit "いいね！（#{@micropost.likes.count}）", class: "btn btn-primary" %>
  <% end %>
<% end %>

<% @likes.each do |like| %>
  <%= link_to my_page_path(like.user) do %>  
    <ul>
      <li><%= image_tag url_for(like.user.avatar.variant(resize: "30x30>")) %></li>
    </ul>
  <% end %>
<% end %>