<div id="comment_error_messages">
  <%= render 'shared/error_messages', object: @comment %>
</div>
<div id="micropost_error_messages">
  <%= render 'shared/error_messages', object: @micropost %>
</div>

<h1>Microposts#show</h1>
<p>Find me in app/views/microposts/show.html.erb</p>

<%= render 'microposts/edit_and_destroy_button' %>

<ul>
<%= render 'microposts/card' %>
</ul>

<%= render 'microposts/like_form' %>

<div id="comment_field">
  <%= render 'microposts/comment_field' %>
</div>

  <%= render 'microposts/comment_form' %>

<%= javascript_pack_tag 'microposts/study_time' %>