<%= render 'shared/error_messages', object: @comment %>

<h1>Microposts#show</h1>
<p>Find me in app/views/microposts/show.html.erb</p>

<%= render 'microposts/editing_destroying_button' %>

<ul>
<%= render 'microposts/card' %>
</ul>

<%= render 'microposts/like_form' %>

<%= render 'microposts/comment_card' %>

<div class="form-group">
  <%= render 'microposts/comment_form' %>
</div>