<div id="error_messages">
  <%= render 'shared/error_messages', object: @comment %>
</div>

<h1>Microposts#show</h1>
<p>Find me in app/views/microposts/show.html.erb</p>

<%= render 'microposts/editing_destroying_button' %>

<ul>
<%= render 'microposts/card' %>
</ul>

<%= render 'microposts/like_form' %>

<div id="comment_field">
  <%= render 'microposts/comment_field' %>
</div>

<div class="form-group">
  <%= render 'microposts/comment_form' %>
</div>

