<h1>Microposts#show</h1>
<p>Find me in app/views/microposts/show.html.erb</p>
<% if @micropost.user == current_user %>
  <p><%= link_to "編集", edit_micropost_path(@micropost) %></p>
  <p><%= link_to "削除", "/microposts/#{@micropost.id}", method: :delete %></p>
<% end %>
<ul>
  <li>
  <%= link_to (image_tag url_for(@micropost.user.avatar.variant(resize: "100x100>"))), user_path(@micropost.user) %>
  </li>
  <li><%= @micropost.user.name %></li>
  <li><%= @micropost.studied_at %></li>
  <li><%= @micropost.content %></li>
    <ul>
      <li>
        <%= link_to (image_tag url_for(@micropost.picture.variant(resize: "100x100>"))), edit_book_path(@micropost.book)  if @micropost.book %>
      </li>
      <li><%= @micropost.book.name if @micropost.book %></li>
      <li>
        <% if @micropost.how_many_studied_hours != 0 %>
          <%= @micropost.how_many_studied_hours %>時間
        <% end %>
        <% if @micropost.how_many_studied_minutes != 0 %>
          <%= @micropost.how_many_studied_minutes %>分
        <% end %>
      </li>
    </ul>
  </ul>