<% content_for :title, "投稿内容" %>

<div id="micropostModal">
  <%= render 'microposts/edit_modal' %>
</div>

<%= render 'microposts/delete_confirm_modal' %>

<div class="p-3">
  <div class="d-flex">
    <div>
      <%= link_to (image_tag url_for(@micropost.user.avatar.variant(gravity: :center, resize:"50x50^", crop:"50x50+0+0")), class: "avatar rounded-circle"), my_page_path(@micropost.user) %>
    </div>
    <div class="ml-2">
      <div>
        <%= @micropost.user.name %>
      </div>
      <div class="text-muted">
        <small><%= @micropost.studied_at.to_s(:datetime) %></small>
      </div>
    </div>
    <div class="d-flex ml-auto text-center">
      <% if @micropost.user == current_user %>
        <div class="post-card-edit-link h-100" style="width: 48px;">
          <%= link_to edit_micropost_path(@micropost, modal: ""), method: :get, remote: true, id: "editLink", class: "text-reset d-inline-block mt-2" do %>
            <i class="fas fa-pen"></i>
          <% end %>
        </div>
        <div class="post-card-delete-link h-100" style="width: 48px;">
          <button id="deleteBtn" class="border-0 bg-white mt-2"><i class="fas fa-trash-alt"></i></button>
        </div>
      <% end %>
    </div>
  </div>
  <div class="mt-1">
    <%= @micropost.content %>
  </div>
  <div class="mt-1">
    <%= image_tag url_for(@micropost.picture.variant(resize: "350x180>")), class: "rounded" if @micropost.picture.attached? %>
  </div>
  <% if @micropost.book %>
    <div class="d-flex align-items-center py-2 mt-2 border rounded shadow-sm">
      <div class="col-auto ml-2 pl-1 px-0">
        <%= link_to (image_tag url_for(@micropost.book.icon.variant(resize_and_pad: [72, 72, background: :transparent])), class: "book-icon border rounded mr-2"), book_path(@micropost.book)%>
      </div>
      <div class="col-9 ml-1 pl-0" style="height: 74px;">
        <div class="overflow-hidden" style="text-overflow: ellipsis; white-space: nowrap;">
          <%= @micropost.book.name %>
        </div>
        <div>
          <i class="far fa-clock"></i>
          <% if @micropost.study_hours != 0 %>
            <span class="text-primary"><%= @micropost.study_hours %></span>時間
          <% end %>
          <% if @micropost.study_minutes != 0 %>
            <span class="text-primary"><%= @micropost.study_minutes %></span>分
          <% end %>
        </div>
        <div>
          <% if @micropost.study_amount  %>
            <i class="fas fa-pen"></i>
            <span class="text-primary"><%= @micropost.study_amount %></span><%= @micropost.study_unit %>
          <% end %>
        </div>
      </div>
    </div>
  <% else %>
    <div class="mt-2 py-2 pl-2 border rounded shadow-sm">
      <i class="far fa-clock"></i>
      <% if @micropost.study_hours != 0 %>
        <span class="text-primary"><%= @micropost.study_hours %></span>時間
      <% end %>
      <% if @micropost.study_minutes != 0 %>
        <span class="text-primary"><%= @micropost.study_minutes %></span>分
      <% end %>
    </div>
  <% end %>
</div>

<div id="like_form" class="p-3 border-top">
  <%= render 'microposts/like_form' %>
</div>

<div id="comment_field" class="p-3 border-top">
  <%= render 'microposts/comment_field' %>
</div>

<div class="p-3 border-top">
  <%= form_with model: @comment, url: micropost_comments_path(@micropost), class: "d-flex" do |f| %>
    <%= f.hidden_field :micropost_id %>
    <%= f.text_field :content, placeholder: "コメント", class: "col-9 rounded", autocomplete: "off" %>
    <%= f.submit "送信", class: "col-2 ml-2 btn btn-primary" %>
  <% end %>
</div>

<%= javascript_packs_with_chunks_tag 'microposts/show' %>