<!DOCTYPE html>
<html>
  <head>
    <title><%= yield :title %>- StuFru</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag "application" %>
  </head>

  <body>
    <div class="container-fluid">
      <div class="row">
        <div class="col-3 d-none d-md-block border-right">
          <% if user_signed_in? %>
            <strong><%= link_to "マイページ", my_page_path(current_user) %></strong>
            <strong><%= link_to "TOP", root_url %></strong>
            <%= link_to 'index', users_path %>
            <p>
              <%= link_to 'ユーザ検索', user_search_path(current_user) %>
              <%= unchecked_notifications.any? ? link_to('*通知*', notifications_path) : link_to('通知', notifications_path) %>
              <%= link_to '教材全般', user_books_path(current_user) %>
              <%= link_to 'プロフィール', user_path(current_user) %>
            </p>
            <%= link_to 'アカウント管理', edit_user_registration_path %>
            <%= link_to 'ログアウト', destroy_user_session_path, method: :delete %>
          <% else %>
            <div class="d-flex flex-column justify-content-center">
              <%= image_tag 'logo.png', size: "100x100",class: "rounded mx-auto mt-5 mb-3" %>
              <div class="d-flex flex-column mt-5">
                <%= link_to new_user_session_path(), class: "my-3 text-center" do %>
                  <i class="fas fa-sign-in-alt fa-lg"></i>
                  ログイン
                <% end %>
                <%= link_to new_user_session_path(), class: "mt-4 text-center" do %>
                  <i class="fas fa-user-plus fa-lg"></i>
                  ユーザ登録
                <% end %>
              </div>
            </div>
          <% end %> 
        </div>

        <div class="col-md-9 px-0">
          <div class="pos-f-t border-bottom">
            <nav class="navbar d-flex justify-content-between align-items-center py-md-3">
              <h5 class="font-weight-bold mb-0 "><%= yield(:title) %></h5>
              <button class="navbar-toggler d-md-none" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fas fa-bars fa-lg d-md-none"></i>
              </button>
            </nav>

            <div class="collapse" id="navbarToggleExternalContent">
              <div class="d-flex flex-column pt-1 pb-3 px-4">
                <%= link_to new_user_session_path(), class: "my-2" do %>
                  <i class="fas fa-sign-in-alt fa-lg"></i>
                  ログイン
                <% end %>
                <%= link_to new_user_session_path(), class: "my-2" do %>
                  <i class="fas fa-user-plus fa-lg"></i>
                  ユーザ登録
                <% end %>
              </div>
            </div>

          </div>

        <div id="notifications">
          <%= render 'shared/notifications' %>
        </div>

        <%= yield %>

        </div>
      </div>
    </div>
  </body>
</html>
