<!DOCTYPE html>
<html>
  <head>
    <title>StuFru</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
        <nav>
            <% if user_signed_in? %>
              <strong><%= link_to current_user.name, root_url %></strong>
              <%= link_to 'index', users_path %>
              <%= link_to 'プロフィール', edit_user_path(current_user) %>
              <%= link_to 'ユーザ検索', search_path(current_user) %>
              <%= link_to '教材全般', new_user_book_path(current_user) %>
              <%= link_to 'アカウント管理', edit_user_registration_path %>
              <%= link_to 'ログアウト', destroy_user_session_path, method: :delete %>
            <% else %>
              <%= link_to 'サインアップ', new_user_registration_path %>
              <%= link_to 'ログイン', new_user_session_path %>
            <% end %>
        </nav>
      </header>
    # flash message
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
