<!DOCTYPE html>
<html>
  <head>
    <title>StuFru</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag "application" %>
  </head>

  <body>
    <header>
        <nav>
            <% if user_signed_in? %>
              <strong><%= link_to "マイページ", my_page_path(current_user) %></strong>
              <strong><%= link_to "TOP", root_url %></strong>
              <%= link_to 'index', users_path %>
              <p>
                <%= link_to 'ユーザ検索', user_search_path(current_user) %>
                <%= unchecked_notifications.any? ? link_to('*通知*', notifications_path) : link_to('通知', notifications_path) %>
                <%= link_to '教材全般', user_books_path(current_user) %>
                <%= link_to 'プロフィール', user_path(current_user) %>
              </p>
              <%= link_to 'アカウント管理', edit_user_registration_path %>
              <%= link_to 'ログアウト', destroy_user_session_path, method: :delete %>
            <% else %>
              <%= link_to 'サインアップ', new_user_registration_path %>
              <%= link_to 'ログイン', new_user_session_path %>
            <% end %> 
        </nav>
    </header>
    <div id="notifications">
      <%= render 'shared/notifications' %>
    </div>
    <%= yield %>
  </body>
</html>
